<VirtualHost *:80>
    ServerAdmin victorsomtochukwu@gmail.com
    ServerName 18.204.207.68
    DocumentRoot /var/www/html/{{vhost_name}}/public

    <Directory /var/www/html/{{vhost_name}}>
    AllowOverride All
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>